---
layout: default
title: Holidays in France - Vacations in France - La Vieille Dezie
class: frontpage
description: High standard Villa and Cottage rentals in the heart of Dordogne France. Sleeps up to 6 and 12 people
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---
<section id="photo-intro" class="clearfix">
	<div id="main-slider">
		<div class="slides">
			<ul class="clearfix">
				<li id="" class="slide">
					<figure>
						<a href="{{ site.url }}/pages/rentals/" title="">
							<img src="{{ site.url }}/img/thumbnails/320_cottage_dinning.jpg" alt="Cottage Dinning Room"/>
						</a>
					</figure>
				</li>
				<li id="" class="slide">
					<figure>
						<a href="{{ site.url }}/pages/rentals/" title="">
							<img src="{{ site.url }}/img/thumbnails/320_barn_bedroom.jpg" alt="Barn Bedroom" 
								class="" />
						</a>
					</figure>
				</li>
				<li id="" class="slide big-screen">
					<a href="/pages/rentals/">
						<figure>
							<a href="{{ site.url }}/pages/rentals/" title="">
								<img src="{{ site.url }}/img/thumbnails/320_pool.jpg" alt="Dezie Swimming Pool" 
									class=""  />
							</a>
						</figure>
					</a>
				</li>
			</ul>
		</div>
	</div>
</section>
	{% include break_deco_line.html %}
<div id="main" role="main">
	<section id="dezie-intro" class="clearfix">
		<h2 class="headline-text">La Vieille Dezie</h2>
		<ul>
			<li>
				<h3 class="component-title"><a href="{{ site.url }}/pages/rentals/dezie-cottage">Dezie Cottage &raquo</a></h3>
				<figure>
					<a href="{{ site.url }}/pages/rentals/dezie-cottage" title="">
						<img src="{{ site.url }}/img/thumbnails/320_cottage_dinning.jpg" alt="Cottage Dinning Room" 
							class=""   />
					</a>
				</figure>
				<p>
				The Cottage was built in the 17 hundreds before the French revolution and is built using the traditional stone work so typical of this region of France. The wonderful framework inside is the testimony of the beautiful work the carpenter done more than 300 years ago. </p>
				<p>The Cottage looks directly over the Pool and is naturally cool in the summer.</p>
			</li>
			<li>
				<h3 class="component-title"><a href="{{ site.url }}/pages/rentals/dezie-barn">Dezie Barn &raquo</a></h3>
				<figure>
					<a href="{{ site.url }}/pages/rentals/dezie-barn" title="">
						<img src="{{ site.url }}/img/thumbnails/320_barn_bedroom.jpg" alt="Barn downstairs bedroom" 
							class="" />
					</a>
				</figure>
				<p> All en-suite bathrooms. The Barn has been renovated keeping comfort in mind at all times. All en-suite bedrooms: two on the ground floor and the master bedroom on the first floor is 40sq.m large. The spacious living room has a 50" Plasma HDTV and looks onto the pool.</p> 
				<p>The barn has a large 60 sq.m covered deck with a barbecue and dinning area.</p>
			</li>
			<li>
				<h3 class="component-title"><a href="{{ site.url }}/pages/rentals/dezie-exclusive">Dezie Exclusive &raquo</a></h3>
				<figure>
					<a href="{{ site.url }}/pages/rentals/dezie-exclusive" title="">
						<img src="{{ site.url }}/img/thumbnails/320_Pool_cottage.jpg" alt="Dezie swimming pool" 
							class=""  />
					</a>
				</figure>
				<p>
				If you are less than 6 or up to 12 you can rent this property exclusively and benefit from this exceptional location in the center of the Dordogne.</p>
				<p>
				The property is situated on a small hill that isolates it naturally from any main roads. Children will certainly appreciate pony rides on the property mascotte "Roudoudou". Rides are free.</p>
			</li>
		</ul>
	</section>
		<div class="clearfix"></div>
		{% include break_deco_line.html %}
	<section id="villa-intro" class="clearfix">
		<h2 class="headline-text">Private Villa</a></h2>
		<ul class="clearfix">
			<li>
				<h3 class="component-title"><a href="{{ site.url }}/pages/rentals/private-villa">See Villa &raquo</a></h3>
				<figure>
					<a href="{{ site.url }}/pages/rentals/private-villa" title="Private Villa rental details">
						<img src="{{ site.url }}/img/thumbnails/320_Villa_bedroom.jpg" alt="Villa master bedroom" 
							class=""  />
					</a>
				</figure>
				<p>Private and exclusive property situated on the outskirts of a small hamlet not far from "La Vieille Dezie" with 3 bedrooms and 1 bathroom. The terrace in front of the house gives onto the 10 x 5 pool and the fields.</p>
			</li>
			<li>
				<h3 class="component-title"><a href="{{ site.url }}/pages/rentals/private-villa">See Villa &raquo</a></h3>
				<figure>
					<a href="{{ site.url }}/pages/rentals/private-villa" title="Private Villa rental details">
						<img src="{{ site.url }}/img/thumbnails/320_Villa_outside.jpg" alt="Villa seen from the garden" 
							class="" />
					</a>
				</figure>
				<p>The Villa is very spacious with it's 110sq.m (1200sq ft) surface. The property is surrounded by a 2000sq.m fenced garden with mature trees for shade and private drive way for absolute privacy.</p>
			</li>
			<li>
				<h3 class="component-title"><a href="{{ site.url }}/pages/rentals/private-villa">See Villa &raquo</a></h3>
				<figure>
					<a href="{{ site.url }}/pages/rentals/private-villa" title="Private Villa rental details">
						<img src="{{ site.url }}/img/thumbnails/320_Villa_kitchen.jpg" alt="Villa Kitchen" 
							class=""  />
					</a>
				</figure>
				<p>The covered terrace looks over the 10x5 Pool with a 60sq.m wooden deck. The Jacuzzi is waiting for you and your cocktail for some relaxing evenings.<br>
					Has facilities like a bakery, shop and bar just 4 minutes away.</p>
			</li>
		</ul>
	</section>
	<div class="clearfix"></div>
		{% include break_deco_line.html %}
	<sections id="features" class="clearfix">
		<h2 class="headline-text">Property Main Features</h2>
		{% include break_deco_line.html %}
		<ul id="first-features" class="clearfix">
			<li>
				<h3 class="component-title al">Swimming Pool</h3>
				<p>The swimming pool is surrounded by a 4 terrace wooden deck and beautiful exotic plants. Incredible area to relax in.</p>
			</li>
			<li>
				<h3 class="component-title al">Hot Tub - Spa</h3>
			<p>A Jacuzzi for 6 with 5 seats and a lounge is always ready for use; just be the pool and the deck. Go get the bubbly!</p>
			</li>
			<li>
				<h3 class="component-title al">Internet Access - WiFi</h3>
				<p>The properties have all wifi access. The Villa has an 8mb broadband access.</p>
			</li>
		</ul>
		<ul id="second-features" class="clearfix">
			<li>
				<h3 class="component-title al">BabyWare: What do you need?</h3>
				<p>There is a cot and high chair for each house. Please ask if you need anything preparing before your arrival.</p>
			</li>
			<li>
				<h3 class="component-title al">18 Hole Golf Course</h3>
			<p>An 18 hole golf course is only 5 minutes away: Golf de la Marterie.</p>
			</li>
			<li>
				<h3 class="component-title al">En suite's and bathrooms</h3>
				<p>We have a total of 4 en-suites, 3 shared bathrooms and 7 toilets between the properties. We have given them a lot of attention.</p>
			</li>
		</ul>
		<ul id="third-features" class="clearfix">
			<li>
				<h3 class="component-title al">Fully Equipped Kitchens</h3>
				<p>As people who enjoy good food and cooking, we have provided everything we would hope to find in a Fully equipped kitchen.</p>
			</li>
			<li>
				<h3 class="component-title al">Ponies for children</h3>
			<p>If there is one thing that must be done right it’s the kids entertainment. On site you will find Roudoudou and Ponyo our Pony mascots.</p>
			</li>
			<li>
				<h3 class="component-title al">Table Tennis: The new black</h3>
				<p>More and more people like to give it a go and the die hard players can’t stop. There is table tennis on each property.</p>
			</li>
		</ul>
		<ul id="fourth-features" class="clearfix">
			<li>
				<h3 class="component-title al">Tennis Court - Free of charge</h3>
				<p>The tennis court is free and is only 2 minutes away from the Dezie. Reserve your time and have fun.</p>
			</li>
			<li>
				<h3 class="component-title al">Surrounding park great for kids</h3>
			<p>The 4 acre park surrounds all the Dezie. There is place for everything: to lounge, play, read and be in peace.</p>
			</li>
			<li>
				<h3 class="component-title al">High definition televisions</h3>
				<p>The Barn and Cottage have each a 50″ and 42″ HDTV for your pleasure. The Villa has a 26″ LCD TV.</p>
			</li>
		</ul>
		<ul id="fifth-features" class="clearfix">
			<li>
				<h3 class="component-title al">Dvd player for each TV</h3>
				<p>Each TV has it’s own DVD player</p>
			</li>
			<li>
				<h3 class="component-title al">6 bikes available on site</h3>
				<p>6 Mountain bikes are available on the Dezie property.</p>
			</li>
			<li>
				<h3 class="component-title al">Volley ball for everyone</h3>
				<p>Volley ball with market court, just right for when you feel competitive.</p>
			</li>
		</ul>
	</sections>
</div>

<div id="complementary" role="complementary">
</div>