<h2 class="headline-text component">Dezie Barn Photos</h2>
<div id="gallery" class="photograph-slider grid_22 push_1">
	<ul id="portfolio_images" >
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_bedroom.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_bedroom.jpg" width="100" height="100" alt="Barn downstairs bedroom with door on to the private terrace">	
		</a>
	</li>	
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_kitchen.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_kitchen.jpg" width="100" height="100" alt="Barn open space kitchen with door that opens on to the private terrace">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_living_room.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_living_room.jpg" width="100" height="100" alt="Barn open spave living room with sliding doors on to a small terrace with view over the pool.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_living_room_zoom.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_living_room_zoom.jpg" width="100" height="100" alt="Barn open space living room with sliding doors on to a small terrace with view over the pool. Here the pony roudoudou is walking around in the garden.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_master_bedroom.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_master_bedroom.jpg" width="100" height="100" alt="Barn master bedroom with bedroom area, bathroom, study and dressing area.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_master_bedroom_split.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_master_bedroom_split.jpg" width="100" height="100" alt="Barn master bedroom with bedroom area, bathroom, study and dressing area.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_master_bedroom_area.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_master_bedroom_area.jpg" width="100" height="100" alt="Barn master bedroom with bedroom area, bathroom, study and dressing area.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_private_terrace.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_private_terrace.jpg" width="100" height="100" alt="Barn private terrace with private garden in front of it.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_jacuzzi_on_deck.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_jacuzzi_on_deck.jpg" width="100" height="100" alt="Jacuzzi for 6 with lounge. Bring our the Bullby!">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_south.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_south.jpg" width="100" height="100" alt="View of the pool deck">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_north.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_north.jpg" width="100" height="100" alt="View of the pool deck">
	</a>
	</li>
	<!-- <li class="slide">
		<a href="{{ site.url }}/img/photos/Swimming_Pool_Cottage.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/Swimming_Pool_Cottage.jpg" width="100" height="100" alt="Swimming Pool Cottage">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Swimming_Pool_Deck1.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/Swimming_Pool_Deck1.jpg" width="100" height="100" alt="Swimming Pool Deck1">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Swimming_Pool_Deck2.jpg" class="" rel="prettyPhoto[barn]">
		<img src="{{ site.url }}/img/thumbnails/Swimming_Pool_Deck2.jpg" width="100" height="100" alt="Swimming Pool Deck2">
	</a>
	</li> -->
</ul>
</div>

