---
layout: default
title: La Vieille Dezie Rural Barn in France
javascript: barn
class: full
description: The Dezie Barn is a high standard holiday rural cottage in France Dordogne that sleeps up to 6 people
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---

<section id="header-intro" class="clearfix">
	<div id="header-photo">
		<a href="#"><img src="{{ site.url }}/img/thumbnails/620_barn_openspace.png"/></a>
	</div>
	<div id="header-text">
		<h3 class="clearfix al">Dezie Barn</h3>
		<p>With all en-suite bedrooms and a 40sq.m master bedroom the barn is all about comfort. It's 60sq.m private terrace has a big table for 12 people with view over its garden. The barn also sees over the pool, so you can see what the kids are doing.</p>
	</div>
</section>
{% include rental_unit_sub_menu.html %}
<section id="rental-content">
	{% include break_deco_line.html %}
	<h1 class="headline-text component">Dezie Barn</h1>
	{% include break_deco_line.html %}
	<div id="intro">
		<div id="intro-photo" class="photograph-slider slide">
			<ul>
				<li class="slide">
					<a href="{{ site.url }}/img/photos/640_barn_bedroom.jpg" rel="prettyPhoto">
						<img src="{{ site.url }}/img/thumbnails/300_barn_bedroom.jpg" />
					</a>
				</li>
			</ul>
		</div>
		<div class="">
			<div id="intro-text">
				<h4 class="component-title al">Barn Intro</h4>
				<p>The Barn is very spacious with it's 150sq.m (1650sq ft) surface. The property is surrounded by a 10 acre park with mature trees for shade and private drive way for absolute privacy.</p>

				<p>There is a large 60sq.m covered terrace that gives on to a private park and the woods, through a 2.4m large sliding glass doors. On the other side of the 80sq.m living area there is another glass sliding door that gives on to the Jacuzzi and Pool.</p>

				<p>There is a wonderful and spacious master bedroom on the first floor, all on it’s own. It’s composed of the bedroom, bathroom with a 1m80x80 bath, a study and a very comfortable dressing wardrobe.</p>

				<p>There is all you need to feel at home here. On site you will find all you need to feel at home, from the fully equipped kitchen the Barbie ready for those warm summer evenings and a great TV area with a 50” Plamsa HDTV.</p>
			</div>
			
		</div>
	</div>
</section>