<!-- Scripts -->
<script src="{{ site.url }}/js/libs/jquery-1.6.2.min.js"></script>
<script src="{{ site.url }}/js/plugins.js"></script>
<script src="{{ site.url }}/js/script.js"></script>
<script src="{{ site.url }}/js/mylibs/helper.js"></script>
<script src="{{ site.url }}/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.url }}/js/jquery.scrollTo-min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{ site.url }}/js/jquery.localscroll-1.2.7-min.js" type="text/javascript" charset="utf-8"></script>


<!--[if (lt IE 9) & (!IEMobile)]>
<script src="{{ site.url }}/js/libs/imgsizer.js"></script>
<![endif]-->

<script>
// iOS scale bug fix
MBP.scaleFix();

// Respond.js
yepnope({
	test : Modernizr.mq('(min-width)'),
	nope : ['js/libs/respond.min.js']
});
</script>

<!-- http://mths.be/aab -->
<script>
var _gaq=[['_setAccount','UA-17294532-1'],['_trackPageview']]; // Change UA-XXXXX-X to be your site's ID
(function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';s.parentNode.insertBefore(g,s)}(document,'script'));
</script>