<h2 id="title" class="grid_24 ac headline-text component">
	Notes on Accommodation
</h2>
<div id="notes" class="grid_18 push_3">
	{% include break_deco_line.html %}
	<h2>
		Nature Paradise
	</h2>
	<p>
		The area is a nature paradise perfect for families with children.<br>
		Outside wooden table and chairs with large sun shade.<br>
		Sunbathing long chairs with cushions.<br>
		Barbecue. There a 6 bikes on site. Table tennis. Huge green park area for football.
	</p>
	<h2>
		Outside
	</h2>
	<p>
		The property is on it's own 35 acres of land. The Pool and the Jacuzzi are only a few steps away. There is pond that has fish and some friendly frogs. Christelle the owner takes care that the park around the house is always kept in order, with plenty of flowers and plants of all kind. There are benches and tables around the property so that you can decide to have tea in the sun or in the shade.
	</p>
	<div id="common-notes">
	<h2>
		Coast/Beach
	</h2>
	<p>
		Bordeaux - Dunes of Arcachon, just over 2 hour drive. Rivers and Lakes, many of the local lakes have beaches, some with slides/swimming platforms and lifeguards during the high season.
	</p>
	<h2>
		Golf
	</h2>
	<p>
		There are a number of golf courses less than an hour from the house. The nearest is Saint Felix de Reilhac, Mortemart - challenging 9 hole course (with 9 under construction) - 4kms/5 mins drive.
	</p>
	<h2>
		Travel
	</h2>
	<p>
		It is an easy journey from the UK whether by car or plane. We are approx 350 miles from St Malo and 500 miles from Calais and Boulogne. Both are easy journeys using the excellent French motorway network. If you'd like us to recommend a simple route - just ask. By air: Bergerac 35 mins with direct low cost flights from Stansted, Liverpool, Birmingham, Leeds, Southampton or Bristol. Bordeaux 2 hours direct flights from Manchester, East Midlands (Nottingham) and Gatwick.
	</p>
	<h2>
		Distances
	</h2>
	<p>
		We are ideally situated to enable our guests to enjoy our peaceful location yet be within easy reach of all the main tourist activities, shops and restaurants: Cendrieux 7km, village shop, bar/tabac, post office. Le Bugue 15km/15 mins tourist activities, restaurants, numerous supermarkets and weekly market. Vergt 10km/10 mins supermarket, markets and restaurants. Les Eyzies 20km/20 mins pre-historic caves and museums. Sarlat 40km/45 mins famous medieval town.
	</p>
	<h2>
		Further details
	</h2>
	<p>
		The Dordogne offers something for everyone: Peace and tranquility or plenty of activities, fine wines and cuisine, rivers and stunning countryside, hundreds of years of history and even a golf course nearby. Perigord Noir is the heart of the Dordogne offering a variety of landscapes, flamboyant chateaux and the centre of prehistoric history.
	</p>
	<p>
		All the main attractions are within easy reach - of which these are just a taster: The vineyards of Bergerac, Bordeaux and St Emilion are within easy reach and regional delicacies include - truffles, foie gras, duck, walnuts and strawberries. For the energetic the rivers and stunning countryside offer are boundless opportunities for walking, horse-riding, cycling, golf (4km), canoeing and fishing or simply relaxing by the pool or on the shores of the many lakes and rivers.
	</p>
	<p>
		The Dordogne &amp; Vezere rivers are just 15 minutes away. Hundreds of years of history - Prehistoric Caves – the world famous Lascaux caves are nearby, Châteaux and fortified villages. Beynac &amp; Castelnaud Castles – are fine examples originally dating back to the 100 years war between France &amp; England. Some of the most beautiful villages and towns in France are within easy reach – Perigueux (regional capital), Sarlat, La Roque – Gageac, Rocamadour. Le Bugue - aquarium, re-created village, canoeing, caves. Bastide towns - Lalinde, Monpazier, Eymet.
	</p>
	<p>
		Excellent shopping - Enjoy shopping the local way at one of the many local markets, or for your day to day requirements there are also numerous shopping opportunities minutes away in Le Bugue, Vergt, and the regional capital Perigueux.
	</p>
	<p>
		Not to mention within Cendrieux itself which has a mini supermarket which is open 7 days a week - supplying all the essentials including fresh bread, fresh fruit, vegetables and wine and beer. There is also a bar/tabac and a post office.
	</p>

	
</div>
