<style type="text/css" media="screen">
	@font-face {
	  font-family: "FontSiteSans-UltraLight";
	  src: url("{{ site.url }}/fonts/FontSiteSans-UltraLight.eot");/* IE9 Compatibility Modes */
	  src: url('{{ site.url }}/fonts/FontSiteSans-UltraLight.eot?') format('eot');  /* IE6-IE8 */
	  src: local("☺"),
	    url("{{ site.url }}/fonts/FontSiteSans-UltraLight.woff") format("woff"),
	    url("{{ site.url }}/fonts/FontSiteSans-UltraLight.otf") format("opentype"),
	    url("{{ site.url }}/fonts/FontSiteSans-UltraLight.svg") format("svg");
	}

	@font-face {
	  font-family: "FontSiteSans-Cond";
	  src: url("{{ site.url }}/fonts/FontSiteSans-Cond.eot");
	  src: url("{{ site.url }}/fonts/FontSiteSans-Cond.eot?") format('eot');/* IE6-IE8 */
	  src: local("☺"),
	    url("{{ site.url }}/fonts/FontSiteSans-Cond.woff") format("woff"),
	    url("{{ site.url }}/fonts/FontSiteSans-Cond.otf") format("opentype"),
	    url("{{ site.url }}/fonts/FontSiteSans-Cond.svg") format("svg");
	}
	@font-face {
	  font-family: "FontSiteSans-Roman";
	  font-weight: normal;
	  font-style: normal;
	  src: url("{{ site.url }}/fonts/FontSiteSans-Roman.eot");
	  src: url("{{ site.url }}/fonts/FontSiteSans-Roman.eot?") format('eot');/* IE6-IE8 */
	  src: local("☺"),
	    url("{{ site.url }}/fonts/FontSiteSans-Roman.woff") format("woff"),
	    url("{{ site.url }}/fonts/FontSiteSans-Roman.otf") format("opentype"),
	    url("{{ site.url }}/fonts/FontSiteSans-Roman.svg") format("svg");
	}
	@font-face {
	  font-family: "BergamoStd";
	  font-weight: normal;
	  font-style: normal;
	  src: url("{{ site.url }}/fonts/BergamoStd-Regular.eot");
	  src: url('{{ site.url }}/fonts/BergamoStd-Regular.eot?') format('eot');  /* IE6-IE8 */
	  src: local("☺"),
	    url("{{ site.url }}/fonts/BergamoStd-Regular.woff") format("woff"),
	    url("{{ site.url }}/fonts/BergamoStd-Regular.otf") format("opentype"),
	    url("{{ site.url }}/fonts/BergamoStd-Regular.svg") format("svg");
	}
	@font-face {
	  font-family: "BergamoStd-Italic";
	  src: url("{{ site.url }}/fonts/BergamoStd-Italic.eot");
	  src: url('{{ site.url }}/fonts/BergamoStd-Italic.eot?') format('eot');  /* IE6-IE8 */
	  src: local("☺"),
	    url("{{ site.url }}/fonts/BergamoStd-Italic.woff") format("woff"),
	    url("{{ site.url }}/fonts/BergamoStd-Italic.otf") format("opentype"),
	    url("{{ site.url }}/fonts/BergamoStd-Italic.svg") format("svg");
	}
	@font-face {
	  font-family: "StMarie-Thin";
	  src: url("{{ site.url }}/fonts/StMarie-Thin.eot");
	  src: url('{{ site.url }}/fonts/StMarie-Thin.eot?') format('eot');  /* IE6-IE8 */
	  src: local("☺"),
	    url("{{ site.url }}/fonts/StMarie-Thin.woff") format("woff"),
	    url("{{ site.url }}/fonts/StMarie-Thin.otf") format("opentype"),
	    url("{{ site.url }}/fonts/StMarie-Thin.svg") format("svg");
	}
	
</style>