<nav>
	<ul id="big-screen" class="nav">
		<li class=""><a href="{{ site.url }}/pages/rentals/">Rentals</a></li>
		<li class=""><a href="{{ site.url }}/pages/rentals/dezie-exclusive/">Cottage & Barn</a></li>
		<li class=""><a href="{{ site.url }}/pages/rentals/dezie-cottage/">Cottage</a></li>
		<li id="" class=""><a href="{{ site.url }}/pages/rentals/dezie-barn/">Barn</a></li>
		<li id="" class=""><a href="{{ site.url }}/pages/rentals/private-villa/">Villa</a></li>
		<li id="" class=""><a href="{{ site.url }}/pages/photos/">Photos</a></li>
		<li id="" class=""><a href="{{ site.url }}/pages/contact/">Contact</a></li>		
		<li id="" class=""><a href="{{ site.url }}/blog/">Blog</a></li>
	</ul>
	<ul id="small-screen">
		<!-- <li id="" class=""><a href="/">Home</a></li> -->
		<li id="" class=""><a href="{{ site.url }}/pages/rentals/">Rentals</a></li>
		<li id="" class=""><a href="{{ site.url }}/pages/photos/">Photos</a></li>
		<li id="" class=""><a href="{{ site.url }}/pages/contact/">Contact</a></li>
		<li id="" class=""><a href="{{ site.url }}/blog/">Blog</a></li>
	</ul>
</nav>