<div id="rate-info" class="grid_7">
	<h4 class="component-title">Notes</h4>
		<p><strong>Rate Reference</strong></p>
		<p>Rates are in Pounds, payments are made in euros based on the sterling exchange. The reservation is 20% and the balance is 8 weeks before your stay.
		Payments</p>

		<p>We accept Paypal, wire tansfer and checks in euros. Credit card and online booking (Paypal) charge 2.5%. </p>
		
		<p><strong>Cleaning:</strong></p>

		<p>Cleaning for the Cottage or the Barn is €90(cash),  and for the Villa is €70(cash).
		There is a security deposit for all the properties of £400(cheque).
		Both cleaning and security deposit should be given on arrival. The cheque is destroyed after your departure.
		Linen and towels (2 for Bathroom and 1 for Pool) are included. They are changed every Saturday.</p>
		
		<p><strong>Arrival and departure:</strong></p>

		<p>Arrival day is Saturday. The arrival is between 4 and 5pm. The departure is 10am.</p>
		
		<p><strong>Exclusivity for Cottage or Barn:</strong></p>

		<p>Exclusivity is assured if you are renting the Cottage and Barn. There will be no other guests on site in this case. <br>
		If you would like to rent the Cottage or the Barn and be the only guests on site please ask for this explicitly. </p>
		<p><strong>Exclusivity for the Villa:</strong></p>

		<p>The Villa is only rented with exclusivity. This is a private property.</p>
</div>