<div id="subMenu" class="clearfix">
		<!-- Menu ajax-destinations are in _includes/cottage/cottage_js.html || pages are in ajax/cottage/ .... -->
	<ul>
		<li class="box">
			<a id="details" href="javascript:void(0);"><h4 class="component-title scroll">Details</h4></a>
		</li>
		<li class="box">
			<a id="notes" href="javascript:void(0);"><h4 class="component-title">Notes</h4></a>
		</li>
		<li class="box">
			<a id="reviews" href="javascript:void(0);"><h4 class="component-title">Reviews</h4></a>
		</li>
		<li class="box">
			<a id="photos" href="javascript:void(0);"><h4 class="component-title">Photos</h4></a>
		</li>
		<li class="box">
			<a id="rates" href="javascript:void(0);"><h4 class="component-title">Rates</h4></a>
		</li>
		<li class="box">
			<a id="getting" href="javascript:void(0);"><h4 class="component-title">Where</h4></a>
		</li>
	</ul>
</div>