<h2 class="headline-text component">Dezie Cottage Photos</h2>
{% include break_deco_line.html %}
<div id="gallery" class="photograph-slider grid_22 push_1">
	<ul id="portfolio_images" >
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Court_Yard_Garden.jpg" class="" rel="prettyPhoto[cottage]">
			<img src="{{ site.url }}/img/thumbnails/Cottage_Court_Yard_Garden.jpg" alt="Cottage Court Yard & Garden"></a></li>	
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Dinning_Room_a.jpeg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Dinning_Room_a.jpeg" alt="Cottage Dinning Room">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Dinning_Room_b.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Dinning_Room_b.jpg" width="100" height="100" alt="Cottage Dinning Room B">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Kitchen.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Kitchen.jpg" width="100" height="100" alt="Cottage Kitchen">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Living_Room_a.jpeg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Living_Room_a.jpeg" width="100" height="100" alt="Cottage Living Room A">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Living_Room_b.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Living_Room_b.jpg" width="100" height="100" alt="Cottage Living Room B">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_master_bathroom_a.jpeg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_master_bathroom_a.jpeg" width="100" height="100" alt="Cottage Master Bathroom A">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_master_bedroom.jpeg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_master_bedroom.jpeg" width="100" height="100" alt="Cottage Master Bedroom">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Terrace.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Terrace.jpg" width="100" height="100" alt="Cottage Terrace">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Upstairs_Bedroom_a.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Upstairs_Bedroom_a.jpg" width="100" height="100" alt="Cottage Upstairs Bedroom A">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/Cottage_Upstairs_Bedroom_b.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/Cottage_Upstairs_Bedroom_b.jpg" width="100" height="100" alt="Cottage Upstairs Bedroom B">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/South_View_Garden.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/South_View_Garden.jpg" width="100" height="100" alt="South View Garden">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_pool_and_cottage.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/100_pool_and_cottage.jpg" width="100" height="100" alt="Swimming Pool Cottage">
	</a>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_jacuzzi_on_deck.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/100_jacuzzi_on_deck.jpg" width="100" height="100" alt="Jacuzzi for 6 with lounge. Bring our the Bullby!">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_south.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_south.jpg" width="100" height="100" alt="View of the pool deck">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_north.jpg" class="" rel="prettyPhoto[cottage]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_north.jpg" width="100" height="100" alt="View of the pool deck">
	</a>
	</li>
</ul>
</div>
