---
layout: default
title: Private Villa in France - Eglise Neuve de Vergt
class: full
javascript: villa
description: This Private Villa in Dordogne France has a private pool and Hot Tub - Jacuzzi and sleeps up to 6 people.
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---
<section id="header-intro" class="clearfix">
	<div id="header-photo">
		<a href="#"><img src="{{ site.url }}/img/thumbnails/620_villa_pool.png"/></a>
	</div>
	<div id="header-text">
		<h3 class="clearfix al">Private Villa</h3>
		<p>In local village nearby "La Vieille Dezie" accommodation for six people with private pool and 2000sq.m fenced garden. Comfort and high quality right in the middle of the Dordogne near all the main attractions.</p>
	</div>
</section>
{% include rental_unit_sub_menu.html %}
<div id="loading" class=" ac">  
	<img src="{{ site.url }}/img/ajax-loader.gif" alt="Loading..." />  
</div>
<section id="rental-content">
	{% include break_deco_line.html %}
	<h1 class="headline-text  component">Private Villa</h1>
	{% include break_deco_line.html %}
	<div id="intro">
		<div id="intro-photo" class="photograph-slider slide">
			<ul>
				<li class="slide">
					<a href="{{ site.url }}/img/photos/640_cottage_courtyard.jpg" rel="prettyPhoto">
						<img src="{{ site.url }}/img/thumbnails/300_villa_master_bedroom.jpg" />
					</a>
				</li>
			</ul>
		</div>
		<div class="">
			<div id="intro-text">
				<h4 class="component-title al">Villa Intro</h4>
				<p>This private Villa is an exclusive rental in a village nearby "La Vieille Dezie" and has a private Swimming Pool 10x5 and High quality Spa-Jacuzzi</p>

				<p>The Villa is very spacious with it's 110sq.m (1200sq ft) surface. The property is surrounded by a 2000sq.m fenced garden with mature trees for shade and private drive way for absolute privacy. The covered terrace gives straight onto the 10x5 Pool with a 60sq.m wooden deck that has a view on the surrounding nature. The Jacuzzi is waiting for you and your cocktail for some relaxing evenings.</p>

				<p>On site you will find all you need to feel at home. As people who enjoy good food and cooking, we have provided everything we would hope to find in a Fully equipped kitchen area including - full size cooker, microwave, fridge and freezer, dishwasher, food processor, cook's knives, serving dishes, kettle, teapot and all cooking utensils. The Barbecue is a "no hassle" gas one, so you will always be ready for those warm summer evenings.</p>
			</div>
			
		</div>
	</div>
</section>