---
layout: default
title: Holidays in Dordogne Rental Rates
class: sidebar
description: Holidays in Dordogne Villa and Cottage rental rates
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---
<div id="main" role="main">
{% include rates.html %}	
</div>

<div id="complementary" role="complementary">
	{% include rates_info.html %}
</div>
