<h2 class="headline-text component">Private Villa Photos</h2>
<div id="gallery" class="photograph-slider grid_22 push_1">
	<ul id="portfolio_images" >
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_swimming_pool.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_swimming_pool.jpg" width="100" height="100" alt="The Villa's private Swimmining pool seen from the Villa's covered terrace.">	
		</a>
	</li>	
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_hot_tub.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_hot_tub.jpg" width="100" height="100" alt="Villa hot tub beside the pool">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_kitchen.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_kitchen.jpg" width="100" height="100" alt="Villa Kitchen">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_living_room.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_living_room.jpg" width="100" height="100" alt="Villa Living room with sliding doors and terrace that overlook the pool.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_master_bedroom.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_master_bedroom.jpg" width="100" height="100" alt="Villa master bedroom">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_garden.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_garden.jpg" width="100" height="100" alt="Villa seen from the garden">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_bathroom.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_bathroom.jpg" width="98" height="100" alt="Villa family bathroom">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_second_bedroom.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_second_bedroom.jpg" width="100" height="100" alt="Villa second bedroom">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_villa_third_bedroom.jpg" class="" rel="prettyPhoto[villa]">
		<img src="{{ site.url }}/img/thumbnails/100_villa_third_bedroom.jpg" width="100" height="100" alt="Villa third bedroom">
	</a>
</ul>
</div>



