---
layout: default
title: La Vieille Dezie Rural Cottage and Barn in France
class: full
javascript: exclusive
description: The Dezie property is a rural holiday rental Cottage in France Dordogne that sleeps up to 12 people
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---
<section id="header-intro" class="clearfix">
	<div id="header-photo">
		<a href="#"><img src="{{ site.url }}/img/thumbnails/620_cottage_living_room.png"/></a>
	</div>
	<div id="header-text">
		<h3 class="clearfix al">Dezie Exclusivity</h3>
		<p>You have the option to rent the property for 6 or 12 people exclusively. A beautiful secluded, high standard property for you and your family, right in the heart of the Dordogne.</p>

		<p>Special price for groups up to 6.</p>
	</div>
</section>
{% include rental_unit_sub_menu.html %}
<div id="loading" class=" ac">  
	<img src="{{ site.url }}/img/ajax-loader.gif" alt="Loading..." />  
</div>
<section id="rental-content">
	{% include break_deco_line.html %}
	<h1 class="headline-text  component">Dezie Exclusivity</h1>
	{% include break_deco_line.html %}
	<div id="intro">
		<div id="intro-photo" class="photograph-slider slide">
			<ul>
				<li class="slide">
					<a href="{{ site.url }}/img/photos/640_cottage_courtyard.jpg" rel="prettyPhoto">
						<img src="{{ site.url }}/img/thumbnails/300_cottage_courtyard.jpg" />
					</a>
				</li>
			</ul>
		</div>
		<div class="">
			<div id="intro-text">
				<h4 class="component-title al">Exclusivity Intro</h4>
				<p>The 18th century property composed of a Cottage (150 sq.m.) and the Adjacent tobacco barn (150 sq.m.) has been renovated by the owners following the best of the French tradition. Each house sleeps 6 (12 people in total) and has en-suite facilities and large living areas and are surrounded by a 10 acre park with mature trees for shade for absolute privacy.</p>

				<p>The pool and Jacuzzi have a large wooden deck with view on the wild nature. Children can enjoy pony rides in the peaceful countryside surrounding the property (free pony on site). We are situated to the north of the Perigord Noir, in the heart of the Dordogne and Vezere valleys.</p>

				<p>This is a secluded rural location situated 8km from Vergt, 15km from Le Bugue with their numerous tourist attractions, weekly markets, night markets and selection of supermarkets. Grant and Christelle, the English owners live discreetly on site.</p>
			</div>
			
		</div>
	</div>
</section>