<h2 class="headline-text component">Dezie Park Photos</h2>
<div id="gallery" class="photograph-slider grid_22 push_1">
	<ul id="portfolio_images" >
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_pool_and_cottage.jpg" alt="View of the Cottage from the pool" class="" rel="prettyPhoto[park]">
			<img src="{{ site.url }}/img/thumbnails/100_cottage_and_pool.jpg" width="100" height="100" alt="View of the Cottage from the pool">
			</a>
	</li>	
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_north.jpg" alt="Dezie Pool Deck North view" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_north.jpg" width="100" height="100" alt="Dezie Pool Deck North view">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_south.jpg" alt="Dezie Pool Deck South view" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_south.jpg" width="100" height="100" alt="Dezie Pool Deck South view">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_horses_in_fields.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_horses_in_fields.jpg" width="100" height="100" alt="Horses In Fields">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_horses_in_fields_1.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_horses_in_fields_1.jpg" width="100" height="100" alt="Horses In Fields">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_park_pano.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_park.jpg" width="100" height="100" alt="A view of the park seen from the south">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_view_south.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_view_south.jpg" width="100" height="100" alt="View over the south valley seen from the Cottage">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_in_park.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_in_park.jpg" width="100" height="100" alt="The property seen from south west">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_jacuzzi_on_deck.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_jacuzzi_on_deck.jpg" width="100" height="100" alt="Jacuzzi for 6 with lounge on pool Deck">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_lounges.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_lounges.jpg" width="100" height="100" alt="Dezie Pool Deck Lounges">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_dezie_pool_deck_shower.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_dezie_pool_deck_shower.jpg" width="100" height="100" alt="Dezie Pool Deck Shower">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_barn_shared_area.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_barn_shared_area.jpg" width="100" height="100" alt="The Barn seen from nearby the pool. This is the shared area.">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_cottage_courtyard.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_cottage_courtyard.jpg" width="100" height="100" alt="The Cottage's courtyard and private entrance">
	</a>
	</li>
	<li class="slide">
		<a href="{{ site.url }}/img/photos/640_cottage_private_terrace.jpg" class="" rel="prettyPhoto[park]">
		<img src="{{ site.url }}/img/thumbnails/100_cottage_private_terrace.jpg" width="100" height="100" alt="The Cottage's Private Terrace">
	</a>
	</li>
	
</ul>
</div>


