---
layout: default
class: sidebar blog
---
<div id="main" role="main">
	<div id="top-blog">
		{% include tag_cloud.html %}
	</div>
	<h1 class="headline-text">Posts</h1>
	{% for ps in site.posts %}
	<section class="">
		<header class="post-header">
			<hgroup>
				<h2 class="component-title al padding"><a href="{{ ps.url }}">{{ ps.title }}</a></h2>
				<time datetime="{{ ps.date }}" pubdate>{{ ps.date }}</time>
			</hgroup>
		</header>
	</section>
	{% endfor %}
</div>

<aside id="complementary" role="complementary" class="grid_8 push_1">
	<!-- <h4 class="headline-text">Menu</h4> -->
	{% include break_deco_line.html %}
	{% include recent_blog_posts.html %}
	{% include break_deco.html %}
	{% include side_categories.html %}
	{% include break_deco.html %}
	{% include tag_cloud.html %}
	{% include break_deco_line.html %}
</aside>