<!doctype html>

<!-- 
320 and Up boilerplate extension
Andy Clarke http://about.me/malarkey
Keith Clark http://twitter.com/keithclarkcouk
Version: 2
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT
-->

<!--[if IEMobile 7]><html class="no-js iem7 oldie"><![endif]-->
<!--[if lt IE 7]><html class="no-js ie6 oldie" lang="en"><![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js ie7 oldie" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js ie8 oldie" lang="en"><![endif]-->
<!--[if gt IE 8]><!--><html class="no-js" lang="en"><!--<![endif]-->
<!--[if (gte IE 9)|(gt IEMobile 7)]><!--><html class="no-js" lang="en"><!--<![endif]-->

<head>
<meta charset="utf-8">

<title>{{ site.title }} || {{ page.title }}</title>
<meta name="description" content="{{ page.description }}">
<meta name="author" content="{{ site.owner-name }}">
<meta name="keywords" content="{{ page.keywords }}">

{% include boilerplate_css.html %}

<body class="clearfix {{ page.class }}">
	<div id="top-nav" class="clearfix">
		{% include nav.html %}
	</div>
	<header id="site_header" role="banner" class="clearfix col-full">
		{% include break_deco.html %}
		<div id="logo">
	       	<span class="site-description clearfix">Holiday rentals in the heart of Dordogne France</span>
					<div class="clearfix"></div><!-- Divider -->
	       		<a href="/" title="Please join us in celebrating the birth of">
							<img src="{{ site.url }}/img/logo.png" alt="Holidays in Dordogne || La Vieille Dezie" />
						</a>
				<h1 class="site-title"><a href="/">{{ page.title }}</a></h1>  	
		</div><!-- /#logo -->
		<div id="mid-nav">
			{% include nav.html %}
		</div>
	</header>
	{% include break_deco_line.html %}
	<div id="content-wrap" class="content clearfix">

		{{ content }}

	</div>
	{% include footer.html %}

	{% include boilerplate_js.html %}
	
	{% if page.javascript == 'cottage'  %}
		{% include js/cottage_js.html %}
	{% endif %}
	{% if page.javascript == 'barn'  %}
		{% include js/barn_js.html %}
	{% endif %}
	{% if page.javascript == 'exclusive'  %}
		{% include js/exclusive_js.html %}
	{% endif %}
	{% if page.javascript == 'villa'  %}
		{% include js/villa_js.html %}
	{% endif %}

	<script type="text/javascript" charset="utf-8">
	  $(document).ready(function(){
	    $("a[rel^='prettyPhoto']").prettyPhoto();
	  });
	</script>
</body>
</html>