---
layout: default
class: sidebar blog
---

<!-- Facebook commenting code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div id="fb-root"></div>
<!-- <script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) {return;}
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script> -->

<article id="main" role="main">
	<!-- Facebook like button -->
	<div class="fb-like" data-href="{{ site.url }}/{{ page.guid }}" data-send="true" data-width="450" data-show-faces="true"></div>
		<!-- /END Facebook like button -->
	<h1 class="blog-headline-text component">{{ page.title }}</h1>
	{% if page.images and page.images != empty %}
	<div class="hgroup"> 
	</div>
	<div id="blog-images">
		<ul>
			{% for image in page.images %}
			<li class="blog-image"><a href=""><img src="/img/posts/{{ page.slug }}/{{ image }}"/></a></li>
			{% endfor %}
		</ul>
	</div>
	{% endif %}
	<div id="post">
	{{ content }}
	{% include break_deco_line.html %}
	<section id="links">
		{% if page.links and page.links != empty %}
		<h2 class="component-title">Suggested Links</h2>
		<ul>
			{% for link in page.links %}
			<li>{{ link }}</li>
			{% endfor %}
		</ul>
		{% else %}
		<p>There are no suggested links</p>
		{% endif %}
	</section>
	</div>

	{% include break_deco_line.html %}

	<div id="related">
	  <h2>Related Posts</h2>
	  <ul class="posts">
	    {% for post in site.related_posts limit:3 %}
	      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
	    {% endfor %}
	  </ul>
	</div>
	{% include break_deco_line.html %}
	<div id="comments" class="section">
		<div id="num-responses">
			<img src="/img/icons/ico_comments.png" alt="">
				<span class="responses-number">0</span> Responses. Add Yours!</div>
		<h2>Discussion</h2>
		<div id="disqus_thread" name="#comments">
	</div>
	<noscript>Please enable JavaScript to view the 
		<a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
	</noscript>
	<p>Blog comments powered by Facebook</p>
	</div>
	<div class="fb-comments" data-href="holidaysindordogne.com" data-num-posts="4" data-width="500"></div>
</article>
<aside id="complementary" role="complementary">
	<!-- <h4 class="headline-text">Menu</h4> -->
	{% include break_deco.html %}
	{% include side_categories.html %}
	{% include tag_cloud.html %}
</aside>