---
layout: default
title: Holidays in Dordogne Rentals
class: full
description: A List of Holidays in Dordogne Villa and Cottage rentals in France Dordogne
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---
<section id="header-intro" class="clearfix">
	<div id="header-photo">
		<a href="#"><img src="{{ site.url }}/img/thumbnails/620_horses_header.jpg"/></a>
	</div>
	<div id="header-text">
		<h3 class="clearfix al">Our Rentals</h3>
		<p>Our properties are all furnished to a high standard with confortable sofas, en-suite bedrooms, swimming pools and Jacuzzi spas. The Dezie also has a pony always ready for your children. Our properties are all furnished to a high standard with confortable</p>
	</div>
	
</section>
{% include break_deco_line.html %}
<h1 class="headline-text component">Our Rentals</h1>
{% include break_deco_line.html %}

<section class="photograph-slider">
	<ul id="rental-list">
		<!-- Rental 1 -->
		<li class="clearfix col-full">
			<figure class="slide clearfix">
				<a href="{{ site.url }}/pages/rentals/dezie-exclusive//">
					<img src="{{ site.url }}/img/thumbnails/320_Pool_cottage.jpg" alt="Exclusivity"></a>
			</figure>
			<div class="rental-text clearfix">
				<h2 class="component-title al grid_16 clearfix">
					<a href="{{ site.url }}/pages/rentals/dezie-exclusive/">Dezie Exclusivity sleeps 6 or 12</a></h2>
				<p>
				If you are less than 6 or up to 12 you can rent this property exclusively and benefit from this exceptional location in the center of the Dordogne.</p>
				<p>
				The property is situated on a small hill that isolates it naturally from any main roads. Ideal for families with small children, who will certainly appreciate pony rides on the property mascotte "Roudoudou". Rides are free.</p>
			</div>
		</li>
		<div class="clearfix"></div>
			{% include break_deco_line.html %}
					<div class="clearfix"></div>
		<!-- Rental 2 -->
			<li class="clearfix col-full">
				<figure class="slide">
					<a href="{{ site.url }}/pages/rentals/dezie-cottage/" ><img src="{{ site.url }}/img/thumbnails/320_cottage_dinning.jpg" alt="Cottage Pool"></a>
				</figure>
				<div class="rental-text">
					<h2 class="component-title al grid_16 clearfix"><a href="{{ site.url }}/pages/rentals/dezie-cottage/">Dezie Cottage sleeps 6</a></h2>
					<p>
					If you are less than 6 or up to 12 you can rent this property exclusively and benefit from this exceptional location in the center of the Dordogne.</p>
					<p>
					The property is situated on a small hill that isolates it naturally from any main roads. Ideal for families with small children, who will certainly appreciate pony rides on the property mascotte "Roudoudou". Rides are free.</p>
				</div>
			</li>
					<div class="clearfix"></div>
			{% include break_deco_line.html %}
					<div class="clearfix"></div>
		<!-- Rental 3 -->
			<li class="clearfix">
				<figure class="slide">
					<a href="{{ site.url }}/pages/rentals/dezie-barn/" ><img src="{{ site.url }}/img/thumbnails/320_barn_bedroom.jpg" alt="Barn bedroom"></a>
				</figure>
				<div class="rental-text">
					<h2 class="component-title al grid_16 clearfix"><a href="{{ site.url }}/pages/rentals/dezie-barn/">Dezie Barn sleeps 6</a></h2>
					<p> All en-suite bathrooms. The Barn has been renovated keeping comfort in mind at all times. All en-suite bedrooms: two on the ground floor and the master bedroom on the first floor is 40sq.m large. The spacious living room has a 50" Plasma HDTV and looks onto the pool.</p> <p>The barn has a large 60 sq.m covered deck with a barbecue and dinning area.</p>
				</div>
			</li>
					<div class="clearfix"></div>
			{% include break_deco_line.html %}
					<div class="clearfix"></div>
		<!-- Rental 4 -->
			<li class="clearfix">
				<figure class="slide">
					<a href="{{ site.url }}/pages/rentals/private-villa/" ><img src="{{ site.url }}/img/thumbnails/320_Villa_outside.jpg" alt="Villa seen from the garden"></a>
				</figure>
				<div class="rental-text">
					<h2 class="component-title al grid_16 clearfix"><a href="{{ site/url }}/pages/rentals/private-villa/">Private Villa in nearby village</a></h2>
					<p>Private and exclusive property situated on the outskirts of a small hamlet not far from "La Vieille Dezie" with 3 bedrooms and 1 bathroom. The terrace in front of the house gives onto the 10 x 5 pool and the fields.</p>
					<p>Has facilities like a bakery, shop and bar just 4 minutes away.</p>
				</div>
			</li>
	</ul>
</section>
