---
layout: default
title: La Vieille Dezie Rural Cottage in France
class: full
javascript: cottage
description: The Dezie Cottage is a high standard holiday rural Cottage in France Dordogne that sleeps up to 6 people
keywords: villa in france, cottage in france, cottage, villa, france, gite, pool, dordogne, self catering, holiday, family, kids, quality, value, flexible, full kitchen, towels, bed linen, perigord noir, gites, le bugue, sarlat, perigueux, shooping, markets, history, world heritage sites, pre-historic, caves, chateaux, medieval towns, bastides, peaceful, canoeing, golf, bikes, walking, aquarium, fine wines, bordeaux, bergerac, wonderful food, foie gras, duck, truffles
---
<section id="header-intro" class="clearfix">
	<div id="header-photo">
		<a href="#"><img src="{{ site.url }}/img/thumbnails/620_cottage_living_room.png"/></a>
	</div>
	<div id="header-text">
		<h3 class="clearfix al">Dezie Cottage</h3>
		<p>Sleeps 6. 3 bedroom, pool 10 x 5 and jacuzzi. The 300 year old property has a wonderful established garden. Free pony rides. Trampoline, 6 bikes and tables tennis. Kitchen fully equipped and Barbie.</p>
	</div>
</section>
{% include rental_unit_sub_menu.html %}
<div id="loading" class=" ac">  
	<img src="{{ site.url }}/img/ajax-loader.gif" alt="Loading..." />  
</div>
<section id="rental-content">
	{% include break_deco_line.html %}
	<h1 class="headline-text  component">Dezie Cottage</h1>
	{% include break_deco_line.html %}
	<div id="intro">
		<div id="intro-photo" class="photograph-slider slide">
			<ul>
				<li class="slide">
					<a href="{{ site.url }}/img/photos/640_cottage_courtyard.jpg" rel="prettyPhoto">
						<img src="{{ site.url }}/img/thumbnails/300_cottage_courtyard.jpg" />
					</a>
				</li>
			</ul>
		</div>
		<div class="">
			<div id="intro-text">
				<h4 class="component-title al">Cottage Intro</h4>
				<p>The Cottage is very spacious with it's 150sq.m (1650sq ft) surface. The property is surrounded by a 10 acre park with mature trees for shade and private drive way for absolute privacy.</p>

				<p>The terrace gives straight onto the Pool that has a 80sq.m wooden deck with view on the surrounding nature. Main attraction for the kids is Roudoudou the pony. Ready when you are to go for a walk around the property. Carrot = friend forever.</p>

				<p>On site you will find all you need to feel at home. There is 80sq.m of wooden deck surrounding the 10 x 5 pool and Jacuzzi, so it's a great place for all the family. Fully equipped kitchen to make you feel at home. Barbie ready for those warm summer evenings.</p>
			</div>
			
		</div>
	</div>
</section>